/* style={{ width: '150px', height:'150px'}} */
.card-img{
    width:150px;
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team-card:hover{
    box-shadow:  10px 10px 15px gray;
}